main {
  height: calc(100vh - 160px);
  overflow-y: auto;
}

header,
footer {
  background-color: black;
  height: 80px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 500px;
  height: 500px;
  background-color: rgb(105, 155, 85);
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid black;
}

.mycolor {
  background-color: lightblue;
}
